html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous")
        title='Desafio_5'

    body
        div(class='container')
            h1(class="my-4")= msg

            table(class="table thead-light table-striped" style="width: 800px;")
                thead
                    tr
                        th(scope="col") ID
                        th(scope="col") Nombre
                        th(scope="col") Precio
                        th(scope="col") Imagen

                tbody
                    each producto in productos 
                        tr
                            td= (producto.id)
                            td= (producto.title)
                            td= (producto.price)
                            td 
                                img(src= producto.thumbnail width="100px" alt= producto.title)


            form(class="p-3" action="/" method="get")
                button(class="btn btn-dark") Registrar Productos